/* .task {
  color: tomato;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

.menu__list {
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  border: solid 1px black;
  border-radius: 3px;
  background-color: cadetblue;
  padding: 5px;
  color: white;
}
a:hover {
  color: black;
  background-color: darkmagenta;
}
header {
  background-color: darkgrey;
  height: 100px;
  padding-top: 30px;
}
